html {
    font-family: 'Garamond', serif;
    /* background-color: rgb(206, 196, 196); */
    color: rgb(0, 0, 0);
}
nav {
    color: rgb(255, 255, 255);
    padding-top: 20px;
    padding-bottom: 20px;
    /* padding-left: 30px; */
    font-size: 15px;
    /* margin-left: 390px; */
    text-align: center;
    border-bottom: 2px solid rgb(0, 255, 0);
}
#is-black {
    background-color: rgba(0, 0, 0, 0.445);
    color:rgb(0, 0, 0);
    display: inline-block;
    width: 100%;
    height: 100%;
}
.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 4fr);
    grid-template-rows: repeat(1, 1fr);
}
body {
    box-sizing: border-box;
}
main {
    padding: 23px;
    padding-left: 10px;
}
footer {
    color: white;
    text-shadow: 1px 1px 2px rgb(255, 255, 255), 0 0 15px rgb(255, 255, 255), 0 0 5px rgb(255, 255, 255);
    padding-top: 20px;
    padding-bottom: 20px;
    border-top: 2px solid hotpink;
    text-align: center;
}
#is-white {
    background-color: rgba(255, 255, 255, 0.107);
    color:rgb(0, 0, 0);
    display: inline-block;
    width: 100%;
    height: 100%;
}

a {
    text-shadow: 1px 1px 2px rgb(255, 0, 221), 0 0 15px rgb(0, 0, 0), 0 0 5px rgb(0, 0, 0);
    color: white;
    font-size: 20px;
}
a:hover {
    color: lawngreen;
    /* box-shadow: 0 5px 30px 0 rgba(0, 0, 0, 0.568), 0 17px 50px 0 rgba(0, 0, 0, 0.892); */
}
h1, h2 {
    font-family: 'Bradley Hand';
    text-shadow: 1px 1px 2px rgb(255, 0, 221), 0 0 15px rgb(0, 0, 0), 0 0 5px rgb(0, 0, 0);
    color: white;
    text-align: left;
    padding: 15px;
    padding-bottom: 1px;
    margin-bottom: 1px;
    margin-top: 1px;
}
h1 {
    font-size: 35px;
}
h2 {
    font-size: 25px;
}
#font {
    font-size: 35px;
    padding-bottom: 10px;
}

h3 {
    color: rgb(255, 0, 140);
    /* padding-left: 20px; */
    margin-bottom: 5px;
}
a .recipe_name {
    font-family: 'Bradley Hand';
}
/* h3 {
    color: white;
    padding-left: 20px;
} */
div {
    text-shadow: 1px 1px 2px rgb(255, 0, 221), 0 0 15px rgb(0, 0, 0), 0 0 5px rgb(0, 0, 0);
    margin-top: 5px;
    color: white;
    /* padding-left: 20px; */
    font-size: 20px;
}
th {
    color: purple;
    background-color: rgba(255, 255, 255, 0.405);
}
tr:nth-child(even) {
    color: white;
    background-color: rgba(255, 255, 255, 0.546);
}
tr:nth-child(odd) {
    color: white;
    background-color: rgb(215, 213, 213, 0.405);
}
li:nth-child(even) {
    color: white;
    background-color: rgba(255, 255, 255, 0.546);
}
li:nth-child(odd) {
    color: white;
    background-color: rgb(215, 213, 213, 0.259);
}
ol {
    margin-left: 40%;
    margin-right: 40%;
}
table {
    /* padding: 20px; */
    /* align-content: center; */
    margin-left: auto;
    margin-right: auto;
    /* margin-left: 350px; */
}
/* tbody {
    margin-left: 345px; */
/* } */
/* img { */
    /* margin-left: 40%;
    margin-right: 40%; */
    /* padding-left: 100px; */
/* } */
img {
    border-radius: 90%;

  }
.recipe {
    margin-left: 44%;
}

.neonText {
    animation: flicker 1.5s infinite alternate;
    color: #fff;
}

h1 {
    font-size: 3.2rem;
}

  /* Flickering animation */
@keyframes flicker {

0%, 18%, 22%, 25%, 53%, 57%, 100% {

    text-shadow:
    0 0 4px black,
    0 0 11px rgb(255, 255, 255),
    0 0 19px #fff,
    0 0 40px rgb(0, 0, 0),
    0 0 80px #ff00d0,
    0 0 90px #ff00d0,
    0 0 100px #ff00d0,
    0 0 150px lawngreen;

}

    20%, 24%, 55% {
    text-shadow: none;

}
}
p, div, h1, h2, h3 {
    /* Center horizontally*/
    text-align: center;
  }
